
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Styles
body { padding-top: 80px; }

// Nav bar
.navbar {
  margin-bottom: 0;

  .navbar-brand {
    span {
      color: $brand-danger;
    }
  }
  .navbar-form {
    width: 70%;
    .form-group {
      width: 80%;

      .form-control {
        width: 100%;
      }
    }

    .btn.btn-search {
      padding: 6px 26px;
    }
  }
}

// Sub nav
.sub-nav {
  padding: 0 .6em;
  background-color: #FFF;
  margin-bottom: 1em;

  a {
    color: $gray-darker;
    padding: .6em 1em;
    margin: 0 .5em;
    display: inline-block;
    border-bottom: 2px solid transparent;


    &:hover, &.active {
      color: $brand-primary;
      text-decoration: none;
      border-bottom: 2px solid $brand-primary;
    }
  }
}
